body {
  background: #11100e;
}

#game {
  width: 1030px;
  height: 600px;
}

@font-face {
  font-family: 'Samdan';
  src: url('../assets/fonts/Samdan.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
