body {
  background: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  width: 1030px;
  height: 600px;
}

@font-face {
  font-family: "regular-samdan"; 
  src: url("../assets/fonts/Samdan.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 