body {
  background: #11100e;
}

#game {
  width: 1030px;
  height: 600px;
}

@font-face {
  font-family: "regular-samdan"; 
  src: url("../assets/fonts/Samdan.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');